<html>
<head>
  <title>IdeaBox</title>
</head>
<body>
  <h1> Buster's Best Bowling Alley</h1>
  <h2> Bet You Can't Bowl A Strike Every Time</h2>
  <form action='/' method= 'POST'
  <p> 97 Bowling Alley Lane, Boulder CO </p>
  <input type='text'name='idea_title'/></br/>
  <textarea name= 'idea_description'></textarea>
  <input type='submit'/>
 </form>
 </body>
</html>
